.container {
    width: 50%;
    height: 200px;
    border: 5px solid black;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.person {
    background-color: pink;
    border-radius: 50%;
    width: 15rem;
    height: 10rem;
}