.container {
    width: 50%;
    height: 500%;
    border: 5px solid black;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.person {
    background-color: pink;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 5px solid red;
    position: relative;
}

.eye {
    background-color: black;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    position: absolute;
}

.left {
    top: 3rem;
    left: 1.5rem;
}

.right {
    top: 3rem;
    left: 4.5rem;
}